<head>
  <!-- General -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="{global.baseUrl}" />
  <title>{head.title} | {global.appName}</title>
  <!-- Meta -->
  <meta name="description" content="{head.description}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Static assets -->
  <link type="image/x-icon" rel="icon" href="favicon.ico/" />
  <link rel="stylesheet" type="text/css" href="public/css/app.min.css" />
</head>