@font-face {
  font-family: Castoro;
  font-style: normal;
  font-weight: 400;
  src: local('Castoro-Regular'),
    url(/public/fonts/Castoro-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Castoro;
  font-style: italic;
  font-weight: 400;
  src: local('Castoro'),
    url(/public/fonts/Castoro-Italic.woff2) format('woff2');
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 900;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Black-Alphabetic.woff2) format('woff2');
}
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Bold-Alphabetic.woff2) format('woff2');
}
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 500;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Medium-Alphabetic.woff2) format('woff2');
}
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Regular-Alphabetic.woff2) format('woff2');
}
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Light-Alphabetic.woff2) format('woff2');
}
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 100;
  src: local('NotoSansJP'),
    url(/public/fonts/NotoSansJP-Thin-Alphabetic.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'),
    url(/public/fonts/Roboto-Bold.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local('Roboto-BoldItalic'),
    url(/public/fonts/Roboto-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local('Roboto-Black'),
    url(/public/fonts/Roboto-Black.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local('Roboto-BlackItalic'),
    url(/public/fonts/Roboto-BlackItalic.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-Thin'),
    url(/public/fonts/Roboto-Thin.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local('Roboto-ThinItalic'),
    url(/public/fonts/Roboto-ThinItalic.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'),
    url(/public/fonts/Roboto-Light.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local('Roboto-LightItalic'),
    url(/public/fonts/Roboto-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Regular'),
    url(/public/fonts/Roboto-Regular.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local('Roboto-Italic'),
    url(/public/fonts/Roboto-Italic.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'),
    url(/public/fonts/Roboto-Medium.woff2) format('woff2');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local('Roboto-MediumItalic'),
    url(/public/fonts/Roboto-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: Anton;
  src: local('Anton'),
    url(/public/fonts/Anton-Regular.woff2) format('woff2');
}